<h1>Forums</h1>
<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th width="92%">Forum</th>
    <th width="10%">Last Activity</th>
  </tr>

  <%= render @forums %>

</table>

<% if admin? %>
  <p><%= link_to "New Forum", new_forum_path %></p>
<% end %>